<!-- TEMPLATE {{ _self }} -->
{% import _self as sv_form %}

{% if not entity_form.vars.valid %}
    {% for form_error in form_errors %}
        <div class="entity_form-errors alert alert-danger">
            <button class="close" data-dismiss="alert" style="">
                ×
            </button>
            <div class="align-middle error-bar">
                <i class="fas fa-exclamation-triangle mr-2 align-middle mt-1"></i>
                <span class="align-middle">{{ form_error|raw }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% set form_op = entity_form.vars.data.id ? 'form-edit' : 'form-new' %}

{# check for multistep form wizard #}
{% set is_form_multistep = configuration.fieldset_titles|length %}
{% set is_form_multirole = configuration.is_multirole and is_form_multistep %}
{% if is_form_multistep %}
    {% set fieldset_titles = configuration.fieldset_titles %}
{% endif %}
{{ form_start(entity_form, {'attr': {'id':'admin-form', 'autocomplete':'off', 'class': form_op}}) }}

    {% if is_form_multirole %}

        <div class="row sv-row">
            {# Blocchi form contatti #}
            <div class="col-12 {{ blocks | length > 1 ? 'col-md-6' : '' }}" class="step" id="fieldset1" data-id="fieldset1">
                {{ sv_form.sv_row(entity_form, entity, blocks['fieldset1'], configuration) }}
            </div>

        </div>

    {% elseif is_form_multistep %}

        <div class="stepy-tab contact-stepy-tab"></div>

        {% for sv_fieldset, rows in blocks %}
            {% set fieldset_title = attribute(fieldset_titles, sv_fieldset) %}
            {% set fieldset_classes = 'step stepy-fieldset ' ~ (loop.first ? 'first' : '') %}

            <fieldset stepy-title="{{ fieldset_title }}" class="{{ fieldset_classes }}" id="{{ sv_fieldset }}" data-id="{{ sv_fieldset }}">
                <legend></legend>
                {{ sv_form.sv_row(entity_form, entity, rows, configuration) }}
            </fieldset>
        {% endfor %}

        {# needed for multistep form wizard #}
        <input type="hidden" class="finish btn btn-danger" value="Finish"/>
    {% else %}
        {# if the form is not multistep print it normally #}
        {{ sv_form.sv_row(entity_form, entity, blocks, configuration) }}
    {% endif %}

<div style="display: none;">{{ form_rest(entity_form) }}</div>
{{ form_end(entity_form) }}


{% macro sv_row(entity_form, entity, blocks, configuration, nested = false) %}

    {% for row, cols in blocks %}
        <div class="row sv-row" id="sv-{{ row }}">
            {% for col, col_conf in cols %}
                {% set wrapper_class = col_conf.grid_class is defined ? col_conf.grid_class : 'col-sm-12 col-md-' ~ col_conf.size %}
                <article class="{{ wrapper_class }}">
                    {% for block_id, block_conf in col_conf.blocks %}
                        {% set panel_id = row ~ '-' ~ col ~ '-' ~ block_id %}
                        {% set panel_classes = 'z-depth-bottom-0 ibox panel-block-' ~ block_id %}
                        {% if block_conf.class is defined %}
                            {% set panel_classes =  panel_classes ~ ' ' ~ block_conf.class %}
                        {% endif %}
{#                        {{ dump(block_id, block_conf) }}#}
                        <div class="{{ panel_classes }}" id="{{ panel_id }}">
                            <header class="ibox-title extra-side-padding panel-heading rounded-top {{ nested ? '' : 'bg-success' }}">
                                <h5>
                                    <strong>
                                        {% if block_conf.icon %}
                                        <i class="fas {{ icons[block_conf.icon]  | default(block_conf.icon) }}"></i>{% endif %}
                                        {{ attribute(entity, block_conf.title) is defined ? attribute(entity, block_conf.title) : block_conf.title }}
                                    </strong>
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    {#                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
                                    {#                                        <i class="fa fa-wrench"></i>#}
                                    {#                                    </a>#}
                                    {#                                    <ul class="dropdown-menu dropdown-user">#}
                                    {#                                        <li><a href="#" class="dropdown-item">Config option 1</a>#}
                                    {#                                        </li>#}
                                    {#                                        <li><a href="#" class="dropdown-item">Config option 2</a>#}
                                    {#                                        </li>#}
                                    {#                                    </ul>#}
                                    {#                                    <a class="close-link">#}
                                    {#                                        <i class="fa fa-times"></i>#}
                                    {#                                    </a>#}
                                </div>
                            </header>
                            <div role="content" class="ibox-content panel-body"
                                 id="fieldset_{{ row ~ '-' ~ col ~ '-' ~ block_id }}">
                                <div class="form-row">

{#                                    {{ dump(configuration.templates_path ~ '/Form/render_block_' ~ block_id ~ '.html.twig') }}#}
{#                                    {{ dump(configuration.templates_path ~ '/' ~ configuration.generic_entity ~ '/Form/render_block_' ~ block_id ~ '.html.twig') }}#}
{#                                    {{ dump('admin_flock/crud/Form/render_block.html.twig')}}#}
                                    {% include [ configuration.templates_path ~ '/Form/render_block_' ~ block_id ~ '.html.twig',
                                        configuration.templates_path ~ '/' ~ configuration.generic_entity ~ '/Form/render_block_' ~ block_id ~ '.html.twig',
                                        'admin_flock/crud/Form/render_block.html.twig'] %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </article>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}
