<!-- TEMPLATE {{ _self }} -->
{#
<ul>
  {% for role in entity.roles %}
    {% if(role.className == 'PrivateAdmin') %}
      <li>{{ role.roleName }}</li>
    {% elseif(role.className == 'CompanyAdmin') %}
      <li>{{ role.roleName }}</li>
    {% elseif(role.className == 'Customer') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_customer_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'Supplier') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_supplier_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'EducationProvider') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_education_provider_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'PrivateSeller') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_seller_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'CompanySeller') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_seller_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'Agent') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_seller_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'Teacher') %}
      <li><div data-toggle="modal" data-target="#quick-role-detail-show" data-link="{{ path('admin_roles_teacher_show',{id: role.id}) }}">{{ role.roleName }}</div></li>
    {% elseif(role.className == 'Representative') %}
      <li> {{ role.roleName }} </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="modal fade" id="quick-role-detail-show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-extra-lg">
    <div class="modal-content">
      <div id="main">
        <div class="panel">
          <div class="panel-body" style="text-align: center;">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>#}
