{% extends 'admin_flock/layout.html.twig' %}

{% block title %}
    Crea  {{ configuration.singular_name }} - {{ parent() }}

{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('entity_form') }}
    {# {{ form_stylesheet(form) }} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{{ form_javascript(form) }}#}

    {{ encore_entry_script_tags('entity_form') }}

    {# include addictional javascript like form collection validator #}
    {#% for js_name in configuration.addictional_js %}
      <script type="text/javascript" src="/bundles/{{ configuration.bundle_name |replace({'Bundle': '', }  ) | lower }}/js/{{  js_name }}"></script>
    {% endfor %#}

{% endblock  javascripts %}

{% block body %}
    <!-- TEMPLATE {{ _self }} -->

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-6">
            <h2 class="page-title txt-color-blueDark">
                <i class="fas fa-pencil-alt"></i>
                {% block entity_operation_title %}
                    Crea {{ configuration.singular_name }}
                {% endblock entity_operation_title %}
            </h2>
        </div>
        <div class="col-6 page-actions">
            <h2 class="float-right">
                {% block object_actions %}
                    {% block object_action_list %}
                        <a class="btn btn-success btn-sm" href="{{ path(configuration.route_prefix, configuration.route_params) }}">
                            Elenco <span class="btn-icon"><i class="fas fa-list"></i></span></a>
                    {% endblock object_action_list %}
                    {% if is_granted(constant('App\\Security\\AdminFlock\\Authorization\\Voter\\AdminVoter::CREATE')) %}
                        {% block object_action_save %}
                            <a class="btn btn-success btn-sm entity-save" href="#" id="form-save">
                                Salva <span class="btn-icon"><i class="fas fa-save"></i> </span>
                            </a>
                            <a class="btn btn-success btn-sm" href="javascript:" id="save-and-new-button">
                                Salva e crea nuovo <span class="btn-icon"><i class="fas fa-save"></i></span>
                            </a>
                        {% endblock object_action_save %}
                    {% endif %}
                {% endblock object_actions %}
            </h2>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeIn">
        {% block main_entity_form %}

            {% include 'admin_flock/crud/Form/render_form.html.twig' %}
        {% endblock main_entity_form %}

    </div>

{% endblock body %}